In [10]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\ayyappan\appdata\local\programs\python\python313\lib\site-packages (2.3.2)
Requirement already satisfied: numpy>=1.26.0 in c:\users\ayyappan\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2.3.2)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\ayyappan\appdata\roaming\python\python313\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\ayyappan\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\ayyappan\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\ayyappan\appdata\roaming\python\python313\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

[notice] A new release of pip is available: 25.1.1 -> 25.2
[notice] To update, run: python.exe -m pip install --upgrade pip

# import pandas

In [11]:
import pandas as pd

# Create an Employee DataFrame
# Employee Data

In [12]:

employee_data = {
 'Employee_ID': [101, 102, 103, 104, 105],
 'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eve'],
 'Department': ['HR', 'IT', 'Finance', 'IT', 'HR'],
 'Salary': [50000, 70000, 60000, 80000, 55000],
 'Experience (Years)': [5, 7, 6, 9, 4]
}
# Creating DataFrame
df = pd.DataFrame(employee_data)
# Display DataFrame
print(df)

   Employee_ID     Name Department  Salary  Experience (Years)
0          101    Alice         HR   50000                   5
1          102      Bob         IT   70000                   7
2          103  Charlie    Finance   60000                   6
3          104    David         IT   80000                   9
4          105      Eve         HR   55000                   4

# Step 3: Check Data Properties

In [13]:
print(df.head(3))

   Employee_ID     Name Department  Salary  Experience (Years)
0          101    Alice         HR   50000                   5
1          102      Bob         IT   70000                   7
2          103  Charlie    Finance   60000                   6

# Display Last Few Rows

In [14]:

print(df.tail(2)) # Last 2 rows

   Employee_ID   Name Department  Salary  Experience (Years)
3          104  David         IT   80000                   9
4          105    Eve         HR   55000                   4

# Get Shape of the Data

In [15]:
print(df.shape) # (rows, columns)

(5, 5)

# Get General Information

In [16]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Employee_ID         5 non-null      int64
 1   Name                5 non-null      object
 2   Department          5 non-null      object
 3   Salary              5 non-null      int64
 4   Experience (Years)  5 non-null      int64
dtypes: int64(3), object(2)
memory usage: 332.0+ bytes
None

# Get Summary Statistics

In [17]:
print(df.describe()) # Shows mean, min, max, std, etc

       Employee_ID        Salary  Experience (Years)
count     5.000000      5.000000            5.000000
mean    103.000000  63000.000000            6.200000
std       1.581139  12041.594579            1.923538
min     101.000000  50000.000000            4.000000
25%     102.000000  55000.000000            5.000000
50%     103.000000  60000.000000            6.000000
75%     104.000000  70000.000000            7.000000
max     105.000000  80000.000000            9.000000

df.to_csv("employee_data.csv", index=False) 
print("CSV file saved successfully!")

In [18]:
df_new = pd.read_csv("employee_data.csv")
print(df_new.head()) # Display first few rows

    A B C
0  1 2 3
1  4 5 6
2   7 8 9