# Step 1: Install and Import Pandas

In [3]:
import pandas as pd

# Step 2: Create a Sales DataFrame
# Using a List of Dictionaries

In [4]:
sales_data = [
 {'Product': 'Laptop', 'Category': 'Electronics', 'Units Sold': 10, 'Price per Unit': 
50000},
 {'Product': 'Mobile', 'Category': 'Electronics', 'Units Sold': 25, 'Price per Unit': 
20000},
{'Product': 'Tablet', 'Category': 'Electronics', 'Units Sold': 15, 'Price per Unit': 
30000},
 {'Product': 'Headphones', 'Category': 'Accessories', 'Units Sold': 50, 'Price per Unit': 2000},
 {'Product': 'Mouse', 'Category': 'Accessories', 'Units Sold': 40, 'Price per Unit': 
1500}
]

df_sales = pd.DataFrame(sales_data)

print(df_sales)

      Product     Category  Units Sold  Price per Unit
0      Laptop  Electronics          10           50000
1      Mobile  Electronics          25           20000
2      Tablet  Electronics          15           30000
3  Headphones  Accessories          50            2000
4       Mouse  Accessories          40            1500

# Step 3: Add a New Column (Total Sales)

In [5]:
df_sales['Total Sales'] = df_sales['Units Sold'] * df_sales['Price per Unit']
print(df_sales)

      Product     Category  Units Sold  Price per Unit  Total Sales
0      Laptop  Electronics          10           50000       500000
1      Mobile  Electronics          25           20000       500000
2      Tablet  Electronics          15           30000       450000
3  Headphones  Accessories          50            2000       100000
4       Mouse  Accessories          40            1500        60000

# Step 4: Check Data Properties

In [6]:
#Get First Few Rows
print(df_sales.head())
#Get Data Info
print(df_sales.info())
#Get Summary Statistics
print(df_sales.describe())

      Product     Category  Units Sold  Price per Unit  Total Sales
0      Laptop  Electronics          10           50000       500000
1      Mobile  Electronics          25           20000       500000
2      Tablet  Electronics          15           30000       450000
3  Headphones  Accessories          50            2000       100000
4       Mouse  Accessories          40            1500        60000
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Product         5 non-null      object
 1   Category        5 non-null      object
 2   Units Sold      5 non-null      int64
 3   Price per Unit  5 non-null      int64
 4   Total Sales     5 non-null      int64
dtypes: int64(3), object(2)
memory usage: 332.0+ bytes
None
       Units Sold  Price per Unit    Total Sales
count    5.000000        5.000000       5.000000
mean    28.000000    20700.000000  322000.000000
std     16.807736    20394.852292  222306.095283
min     10.000000     1500.000000   60000.000000
25%     15.000000     2000.000000  100000.000000
50%     25.000000    20000.000000  450000.000000
75%     40.000000    30000.000000  500000.000000
max     50.000000    50000.000000  500000.000000

# Step 5: Save Sales Data to CSV

In [7]:
df_sales.to_csv("sales_data.csv", index=False)
print("Sales data saved to CSV file successfully!")

Sales data saved to CSV file successfully!

# Step 6: Read Data from CSV

In [8]:
df_read = pd.read_csv("sales_data.csv")
print(df_read.head()) # Display first few rows

      Product     Category  Units Sold  Price per Unit  Total Sales
0      Laptop  Electronics          10           50000       500000
1      Mobile  Electronics          25           20000       500000
2      Tablet  Electronics          15           30000       450000
3  Headphones  Accessories          50            2000       100000
4       Mouse  Accessories          40            1500        60000