In [3]:
import pandas as pd
import numpy as np

In [4]:
data = {
 "Employee_ID": [1, 2, 3, 4, 5, 6, 7, 7],
 "Name": ["John", "Jane", "Mike", "Sara", "Chris", None, "David", "David"], "Department": ["IT", "HR", "IT", "Finance", None, "IT", "HR", "HR"],
 "Salary": [60000, 55000, None, 70000, 65000, 60000, None, 70000], "Joining_Date": ["2021-06-01", "2020-09-15", None, "2019-12-10", "2022-07-20", "2023-03-01", "2021-01-01", "2021-01-01"]
}
df = pd.DataFrame(data)
print(df)

   Employee_ID   Name Department   Salary Joining_Date
0            1   John         IT  60000.0   2021-06-01
1            2   Jane         HR  55000.0   2020-09-15
2            3   Mike         IT      NaN         None
3            4   Sara    Finance  70000.0   2019-12-10
4            5  Chris       None  65000.0   2022-07-20
5            6   None         IT  60000.0   2023-03-01
6            7  David         HR      NaN   2021-01-01
7            7  David         HR  70000.0   2021-01-01

In [5]:
print(df.isnull().sum())

Employee_ID     0
Name            1
Department      1
Salary          2
Joining_Date    1
dtype: int64

In [6]:
df["Department"].fillna("Unknown", inplace=True)
df["Salary"].fillna(df["Salary"].median(), inplace=True)
print(df)

   Employee_ID   Name Department   Salary Joining_Date
0            1   John         IT  60000.0   2021-06-01
1            2   Jane         HR  55000.0   2020-09-15
2            3   Mike         IT  62500.0         None
3            4   Sara    Finance  70000.0   2019-12-10
4            5  Chris    Unknown  65000.0   2022-07-20
5            6   None         IT  60000.0   2023-03-01
6            7  David         HR  62500.0   2021-01-01
7            7  David         HR  70000.0   2021-01-01

C:\Users\Ayyappan\AppData\Local\Temp\ipykernel_3268\301338993.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["Department"].fillna("Unknown", inplace=True)
C:\Users\Ayyappan\AppData\Local\Temp\ipykernel_3268\301338993.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["Salary"].fillna(df["Salary"].median(), inplace=True)

In [7]:
df["Joining_Date"] = pd.to_datetime(df["Joining_Date"])
print(df.dtypes)

Employee_ID              int64
Name                    object
Department              object
Salary                 float64
Joining_Date    datetime64[ns]
dtype: object

In [8]:
df = df.drop_duplicates()
print(df)

   Employee_ID   Name Department   Salary Joining_Date
0            1   John         IT  60000.0   2021-06-01
1            2   Jane         HR  55000.0   2020-09-15
2            3   Mike         IT  62500.0          NaT
3            4   Sara    Finance  70000.0   2019-12-10
4            5  Chris    Unknown  65000.0   2022-07-20
5            6   None         IT  60000.0   2023-03-01
6            7  David         HR  62500.0   2021-01-01
7            7  David         HR  70000.0   2021-01-01

In [9]:
df = df.rename(columns={"Salary": "Annual_Salary", "Joining_Date": 
"Start_Date"})
print(df.head())

   Employee_ID   Name Department  Annual_Salary Start_Date
0            1   John         IT        60000.0 2021-06-01
1            2   Jane         HR        55000.0 2020-09-15
2            3   Mike         IT        62500.0        NaT
3            4   Sara    Finance        70000.0 2019-12-10
4            5  Chris    Unknown        65000.0 2022-07-20