In [5]:
import pandas as pd
# Creating Employee Salary DataFrame
data = {
 'Employee': ['John', 'Sarah', 'Mike', 'Anna', 'David', 'Emma'],
 'Department': ['IT', 'HR', 'Finance', 'IT', 'Finance', 'HR'],
 'Salary': [70000, 50000, 80000, 75000, 85000, 52000],
 'Experience': [5, 3, 8, 6, 9, 4]
}
df = pd.DataFrame(data)
print(df)

  Employee Department  Salary  Experience
0     John         IT   70000           5
1    Sarah         HR   50000           3
2     Mike    Finance   80000           8
3     Anna         IT   75000           6
4    David    Finance   85000           9
5     Emma         HR   52000           4

In [6]:
df['Salary Category'] = df['Salary'].apply(lambda x: 'High' if x > 75000 else 
'Medium' if x > 55000 else 'Low')
print(df[['Employee', 'Salary', 'Salary Category']])

  Employee  Salary Salary Category
0     John   70000          Medium
1    Sarah   50000             Low
2     Mike   80000            High
3     Anna   75000          Medium
4    David   85000            High
5     Emma   52000             Low

In [7]:
salary_summary = df.groupby('Department')['Salary'].mean()
print(salary_summary)

Department
Finance    82500.0
HR         51000.0
IT         72500.0
Name: Salary, dtype: float64

In [ ]:
pivot = df.pivot_table(values='Salary', index='Department', columns='Salary pCategory', aggfunc='count')
print(pivot)

Salary Category  High  Low  Medium
Department
Finance           2.0  NaN     NaN
HR                NaN  2.0     NaN
IT                NaN  NaN     2.0

In [9]:
df_sorted = df.sort_values(by='Salary', ascending=False)
print(df_sorted[['Employee', 'Salary']])

  Employee  Salary
4    David   85000
2     Mike   80000
3     Anna   75000
0     John   70000
5     Emma   52000
1    Sarah   50000