In [3]:
import pandas as pd

In [4]:
data = {
 "Product": ["Laptop", "Smartphone", "Table", "Headphones", "Chair", 
"Monitor"],
 "Category": ["Electronics", "Electronics", "Furniture", "Electronics", "Furniture", 
"Electronics"],
 "Price": [1200, 800, 300, 150, 200, 400],
 "Quantity Sold": [50, 100, 20, 70, 30, 40],
 "City": ["New York", "Los Angeles", "Chicago", "New York", "Chicago", "Los Angeles"]
}
df = pd.DataFrame(data)
print(df)

      Product     Category  Price  Quantity Sold         City
0      Laptop  Electronics   1200             50     New York
1  Smartphone  Electronics    800            100  Los Angeles
2       Table    Furniture    300             20      Chicago
3  Headphones  Electronics    150             70     New York
4       Chair    Furniture    200             30      Chicago
5     Monitor  Electronics    400             40  Los Angeles

In [5]:
df_selected = df[["Product", "Price"]]
print(df_selected)

      Product  Price
0      Laptop   1200
1  Smartphone    800
2       Table    300
3  Headphones    150
4       Chair    200
5     Monitor    400

In [6]:
df_first_3 = df.iloc[:3]
print(df_first_3)

      Product     Category  Price  Quantity Sold         City
0      Laptop  Electronics   1200             50     New York
1  Smartphone  Electronics    800            100  Los Angeles
2       Table    Furniture    300             20      Chicago

In [7]:
expensive_products = df[df["Price"] > 500]
print(expensive_products)

      Product     Category  Price  Quantity Sold         City
0      Laptop  Electronics   1200             50     New York
1  Smartphone  Electronics    800            100  Los Angeles

In [8]:
filtered_cities = df[df["City"].isin(["New York", "Chicago"])]
print(filtered_cities)

      Product     Category  Price  Quantity Sold      City
0      Laptop  Electronics   1200             50  New York
2       Table    Furniture    300             20   Chicago
3  Headphones  Electronics    150             70  New York
4       Chair    Furniture    200             30   Chicago

In [9]:
mid_price_products = df[df["Price"].between(200, 800)]
print(mid_price_products)

      Product     Category  Price  Quantity Sold         City
1  Smartphone  Electronics    800            100  Los Angeles
2       Table    Furniture    300             20      Chicago
4       Chair    Furniture    200             30      Chicago
5     Monitor  Electronics    400             40  Los Angeles

In [10]:
df_indexed = df.set_index("Product")
print(df_indexed)

               Category  Price  Quantity Sold         City
Product
Laptop      Electronics   1200             50     New York
Smartphone  Electronics    800            100  Los Angeles
Table         Furniture    300             20      Chicago
Headphones  Electronics    150             70     New York
Chair         Furniture    200             30      Chicago
Monitor     Electronics    400             40  Los Angeles

In [11]:
df_reset = df_indexed.reset_index()
print(df_reset)

      Product     Category  Price  Quantity Sold         City
0      Laptop  Electronics   1200             50     New York
1  Smartphone  Electronics    800            100  Los Angeles
2       Table    Furniture    300             20      Chicago
3  Headphones  Electronics    150             70     New York
4       Chair    Furniture    200             30      Chicago
5     Monitor  Electronics    400             40  Los Angeles