In [1]:
import pandas as pd

In [2]:
data = {
 "Student": ["Alice", "Bob", "Charlie", "David", "Eva"],
 "Course": ["CS", "Physics", "CS", "Math", "Physics"],
 "Age": [20, 22, 21, 23, 20],
 "Grade": [85, 78, 92, 88, 76],
 "City": ["New York", "Los Angeles", "Chicago", "New York", "Chicago"]
}
df = pd.DataFrame(data)
print(df)

   Student   Course  Age  Grade         City
0    Alice       CS   20     85     New York
1      Bob  Physics   22     78  Los Angeles
2  Charlie       CS   21     92      Chicago
3    David     Math   23     88     New York
4      Eva  Physics   20     76      Chicago

In [3]:
df_selected = df[["Student", "Grade"]]
print(df_selected)

   Student  Grade
0    Alice     85
1      Bob     78
2  Charlie     92
3    David     88
4      Eva     76

In [4]:
high_grade_students = df[df["Grade"] > 80]
print(high_grade_students)

   Student Course  Age  Grade      City
0    Alice     CS   20     85  New York
2  Charlie     CS   21     92   Chicago
3    David   Math   23     88  New York

In [5]:
cs_students = df[df["Course"].isin(["CS"])]
print(cs_students)

   Student Course  Age  Grade      City
0    Alice     CS   20     85  New York
2  Charlie     CS   21     92   Chicago

In [6]:
age_filtered_students = df[df["Age"].between(20, 22)]
print(age_filtered_students)

   Student   Course  Age  Grade         City
0    Alice       CS   20     85     New York
1      Bob  Physics   22     78  Los Angeles
2  Charlie       CS   21     92      Chicago
4      Eva  Physics   20     76      Chicago

In [7]:
df_indexed = df.set_index("Student")
print(df_indexed)

          Course  Age  Grade         City
Student
Alice         CS   20     85     New York
Bob      Physics   22     78  Los Angeles
Charlie       CS   21     92      Chicago
David       Math   23     88     New York
Eva      Physics   20     76      Chicago

In [8]:
df_reset = df_indexed.reset_index()
print(df_reset)

   Student   Course  Age  Grade         City
0    Alice       CS   20     85     New York
1      Bob  Physics   22     78  Los Angeles
2  Charlie       CS   21     92      Chicago
3    David     Math   23     88     New York
4      Eva  Physics   20     76      Chicago